akashic/apps/Collections/**
akashic/.env
akashic/app/.env
__pycache__/**
akashic/__pycache__/**
akashic/retrieval/__pycache__/**
akashic/apps/__pycache__/**
akashic.egg-info/**
akashic/.DS_Store
.DS_Store