akashic/apps/Collections/**
akashic/.env
akashic/apps/.env
__pycache__/**
akashic/__pycache__/**
akashic/retrieval/__pycache__/**
akashic/apps/__pycache__/**
akashic.egg-info/**
akashic/.DS_Store
akashic/apps/personal_apps/**
.DS_Store